.landing {
  text-align: center; 
  margin-top:185px;
  margin-left: 150px;
  margin-right: 150px;

  background: rgba(20, 10, 20, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba( 255, 255, 255, 0.18);
  background-color: rgba(0, 0, 0, 0.15);
} 
    
/* .welcome {
  background: rgba(20, 10, 20, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8); 
  border: 1px solid rgba( 255, 255, 255, 0.15);
  background-color: rgba(0, 0, 0, 0.15);
} */
