.me {
  background: rgba(20, 10, 20, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
  margin-top:185px;
  margin-left: 150px;
  margin-right: 150px;

  text-align: center;
}
