@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
body {
  margin: 0;
  font-family: 'Lexend Peta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #6F8865 (olive-green) */
/* #AA8567 (mocha-brown) */
/* #D6B89F (dusty-coco) */
