@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
body {
  margin: auto;
  font-family: 'Lexend Peta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./Assets/landing-bg5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #6F8865 (olive-green) */
/* #AA8567 (mocha-brown) */
/* #D6B89F (dusty-coco) */
